/Circle.class
/CollectionsImplementation.class
/Constructor.class
/CustomException.class
/ExceptionEg.class
/Inheritance.class
/Interface$InterfaceWithException.class
/Interface$NestedClass.class
/Interface$NestedInterface.class
/Interface.class
/NestedInterfaceException.class
/NestedInterfaceImplementation.class
/NullException.class
/Rectangle.class
/Shape.class
/commandLine.class
/fib.class
/maskPattern.class
